#W
^clk$
^resetn$
^trap$
^irq(\[.*\])?$
^eoi(\[.*\])?$

#N
^mem_(valid|instr|ready|addr|wdata|wstrb|rdata)(\[.*\])?$

#E
^mem_la_(read|write|addr|wdata|wstrb)(\[.*\])?$
^trace_(valid|data)(\[.*\])?$

#S
^pcpi_(valid|insn|rs1|rs2|wr|rd|wait|ready)(\[.*\])?$
